.content {
    width: 320px;
}

.content > div {
    position: absolute;
    width: 320px;
    height: 80px;
    transform-origin: 50% 50% 0;
    border-radius: 5px;
    color: white;
    line-height: 40px;
    padding-left: 32px;
    font-size: 14.5px;
    background: lightblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    touch-action: none;
}

.movable:hover {
    cursor: move;
}

@keyframes animationOnAdd {
    0% {
       transform: translateX(-100vw);
    }
    20% {
        transform: translateX(-80vw);
    }
    40% {
        transform: translateX(-60vw);
    }
    60% {
        transform: translateX(-40vw);
    }
    80% {
        transform: translateX(-20vw);
    }
    100% {
        transform: translateX(0vw);
    }
}