.container-components {
    display: flex;
    width: 1200px;
    justify-content: space-between;

}

.container-components > div{
    background-color: #F3D1D1;
    width: 30%;
    text-align: center;
}